<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Linkin Park</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <!-- NAVEGACION GLOBAL DE LA PAGINA -->
    <section class="globalnav">
        <img class="globalnav__logo" src="../data/images/LP_logo.png" alt="LP logo not found">
        <nav class="globalnav__items">
            <a class="globalnav__items__home" id="home" href="">HOME</a>
            <a class="globalnav__items__discography" id="discography" href="discography">DISCOGRAPHY</a>
            <a class="globalnav__items__videos" id="videos" href="">VIDEOS</a>
            <a class="globalnav__items__newsletter" id="newsletter" href="">NEWSLETTER</a>
            <img class="globalnav__items__carticon" src="../data/icons/cart.png">
            <a class="globalnav__items__cart" id="cart" href="">CART</a>
        </nav>
    </section>
    <main>

    </main>
    <!-- PIE DE PAGINA -->
    <footer class="footer">
        <img class="footer__logo" src="../data/images/LP_logo.png" alt="">
        <div class="footer__desc">
            <p class="footer__desc__follow">Follow us on:</p>
            <div class="footer__desc__icons">
                <img class="footer__desc__icons__img footer__desc__icons__img--facebook" src="../data/icons/facebook.png" alt="">
                <img class="footer__desc__icons__img footer__desc__icons__img--youtube" src="../data/icons/youtube.png" alt="">
                <img class="footer__desc__icons__img footer__desc__icons__img--spotify" src="../data/icons/spotify.png" alt="">
                <img class="footer__desc__icons__img footer__desc__icons__img--instagram" src="../data/icons/instagram.png" alt="">
                <img class="footer__desc__icons__img footer__desc__icons__img--tumblr" src="../data/icons/tumblr.png" alt="">
                <img class="footer__desc__icons__img footer__desc__icons__img--twitter" src="../data/icons/twitter.png" alt="">
            </div>
            <p class="footer__desc__terms">Privacy Policy • Terms of Use • © 2018 Linkin Park. Built on Fullscreen
                Direct</p>
        </div>
    </footer>
    <script src="./script.js"></script>
</html>