<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Linkin Park</title>
    <link rel="stylesheet" href="./home/main.css">
</head>

<body>
    <!-- NAVEGACION GLOBAL DE LA PAGINA -->
    <section class="globalnav">
        <img class="globalnav__logo" src="./data/images/LP_logo.png" alt="LP logo not found">
        <nav class="globalnav__items">
            <a class="globalnav__items__home" id="news" href="">HOME</a>
            <a class="globalnav__items__discography" id="discography" href="discography">DISCOGRAPHY</a>
            <a class="globalnav__items__videos" id="videos" href="">VIDEOS</a>
            <a class="globalnav__items__newsletter" id="newsletter" href="">NEWSLETTER</a>
            <img class="globalnav__items__carticon" src="./data/icons/cart.png">
            <a class="globalnav__items__cart" id="cart" href="">CART</a>
        </nav>
    </section>
    <!-- BANNER / ENCABEZADO DE LA PAGINA -->
    <header class="banner">
        <div class="banner__button" id="button button--white">
            <a class="banner__button__link" id="button" href="https://www.youtube.com/watch?v=Tm8LGxTLtQk" target="_blank">WATCH
                THE MUSIC VIDEO</a>
        </div>
    </header>
    <main>
        <!-- CARACTERISTICAS DEL PRODUCTO (BANDA) -->
        <section class="maindesc">
            <div class="maindesc__first">
                <h2 class="maindesc__first__title">We are the sixth-greatest band of the all<br>music video era and the
                    third-best<br>of the new millennium...</h2>
                <p class="maindesc__first__author">(MTV,2003)</p>
            </div>
            <p class="maindesc__middle">Linkin Park have been categorized as:</p>
            <div class="maindesc__last">
                <div class="maindesc__last__icondesc maindesc__last__icondesc--altrock">
                    <img class="maindesc__last__icondesc__img" src="./data/icons/alternative_rock.png" alt="">
                    <p class="maindesc__last__icondesc__text">Alternative Rock</p>
                </div>
                <div class="maindesc__last__icondesc maindesc__last__icondesc--numetal">
                    <img class="maindesc__last__icondesc__img" src="./data/icons/nu_metal.png" alt="">
                    <p class="maindesc__last__icondesc__text">Nu Metal</p>
                </div>
                <div class="maindesc__last__icondesc maindesc__last__icondesc--altmetal">
                    <img class="maindesc__last__icondesc__img" src="./data/icons/alternative_metal.png" alt="">
                    <p class="maindesc__last__icondesc__text">Alternative Metal</p>
                </div>
                <div class="maindesc__last__icondesc maindesc__last__icondesc--rapmetal">
                    <img class="maindesc__last__icondesc__img" src="./data/icons/rap_metal.png" alt="">
                    <p class="maindesc__last__icondesc__text">Rap Metal</p>
                </div>
                <div class="maindesc__last__icondesc maindesc__last__icondesc--altrock">
                    <img class="maindesc__last__icondesc__img" src="./data/icons/electronic_rock.png" alt="">
                    <p class="maindesc__last__icondesc__text">Electronic Rock</p>
                </div>
            </div>
        </section>
        <!-- ESPACIO PUBLICITARIO -->
        <section class="ads">
            <article class="ads__store">
                <div class="ads__store__button">
                    <a class="ads__store__button__link" id="button" href="" target="_blank">OFFICIAL STORE</a>
                </div>
            </article>
            <article class="ads__underground">
                <div class="ads__underground__button">
                    <a class="ads__underground__button__link" id="button" href="" target="_blank">LINKIN PARK
                        UNDERGROUND</a>
                </div>
            </article>
        </section>
        <!-- MUESTRA DE LA GALERÍA DE VIDEOS -->
        <section class="video">
            <h2 class="video__title">TRY ONE OF OUR MUSIC VIDEOS</h2>
            <a class="video__link"></a>
        </section>
        <!-- SECCION DE INTERACCION CON EL PRODUCTO -->
        <section class="discography">
            <div class="discography__shadow discography__shadow--top"></div>
            <a class="discography__button">TRY THE DISCOGRAPHY</a>
            <div class="discography__shadow discography__shadow--bottom"></div>
        </section>
        <!-- FORMULARIO PARA INSCRIPCION DEL NEWSLETTER -->
        <section class="newsletter">
            <div class="newsletter__desc">
                <h2 class="newsletter__desc__title">SUBSCRIBE TO LINKIN PARK <span>NEWSLETTER</span></h2>
                <p class="newsletter__desc__text">Stay informed! monthly news, gifts and discounts.</p>
            </div>
            <div class="newsletter__form">
                <article class="newsletter__form__field newsletter__form__field--mail">
                    <img class="newsletter__form__field__img newsletter__form__field__img--mail" src="./data/icons/mail.png" alt="">
                    <p class="newsletter__form__field__text">Your e-mail address</p>
                </article>
                <article class="newsletter__form__field newsletter__form__field--name">
                    <img class="newsletter__form__field__img" src="./data/icons/user.png" alt="">
                    <p class="newsletter__form__field__text">Your name</p>
                </article>
                <article class="newsletter__form__field newsletter__form__field--number">
                    <img class="newsletter__form__field__img" src="./data/icons/cellphone.png" alt="">
                    <p class="newsletter__form__field__text">Your cellphone number</p>
                </article>
            </div>
            <a clas="newsletter__button__link" id="button">SUBMMIT</a>
        </section>
    </main>
    <!-- PIE DE PAGINA -->
    <footer class="footer">
        <img class="footer__logo" src="./data/images/LP_logo.png" alt="">
        <div class="footer__desc">
            <p class="footer__desc__follow">Follow us on:</p>
            <div class="footer__desc__icons">
                <img class="footer__desc__icons__img footer__desc__icons__img--facebook" src="./data/icons/facebook.png" alt="">
                <img class="footer__desc__icons__img footer__desc__icons__img--youtube" src="./data/icons/youtube.png" alt="">
                <img class="footer__desc__icons__img footer__desc__icons__img--spotify" src="./data/icons/spotify.png" alt="">
                <img class="footer__desc__icons__img footer__desc__icons__img--instagram" src="./data/icons/instagram.png" alt="">
                <img class="footer__desc__icons__img footer__desc__icons__img--tumblr" src="./data/icons/tumblr.png" alt="">
                <img class="footer__desc__icons__img footer__desc__icons__img--twitter" src="./data/icons/twitter.png" alt="">
            </div>
            <p class="footer__desc__terms">Privacy Policy • Terms of Use • © 2018 Linkin Park. Built on Fullscreen
                Direct</p>
        </div>
    </footer>
    <script src="./home/script.js"></script>
</body>

</html>