@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.globalnav {
    width: 100%;
    padding: 0 15%;
    padding-top: 15px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-size: cover;
    background-position: top;
    z-index: 10;

    &__logo{
        width: 7%;
        height: auto;
    }
    &__items {
        &__home{
            text-decoration: none;
            color: white;
            font-weight: 600;
            margin-left: 20px;
            filter: brightness(100%);
        }
        &__discography{
            text-decoration: none;
            color: white;
            font-weight: 600;
            margin-left: 20px;
            filter: brightness(70%);
        }
        &__videos{
            text-decoration: none;
            color: white;
            font-weight: 600;
            margin-left: 20px;
            filter: brightness(70%);
        }
        &__newsletter{
            text-decoration: none;
            color: white;
            font-weight: 600;
            margin-left: 20px;
            filter: brightness(70%);

        }
        &__carticon{
            height: 25px;
            margin-left: 60px;
            margin-right: 0;
            filter: brightness(70%);
        }
        &__cart{
            text-decoration: none;
            color: white;
            font-weight: 600;
            filter: brightness(70%);
            margin-left: 5px;
        }

    }
}

#button {
    border-style: solid;
    padding: 15px;
    font-weight: 600;
    //font-size: 18px;
    text-decoration: none;
    transition: 0.5s ease-in;
    background-color: none;
}

#button:hover {
    border-top: none;
    border-left: none;
    border-right: none;
}

.banner {
    width: 100%;
    height: 55vw;
    background-image: url(../data/images/banner1.png);
    background-size: cover;
    background-position: center;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    display: flex;
    align-items: flex-end;

    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 5%;

        &__link {
            border-color: white;
            color: white;
        }
    }
}

main {
    width: 100%;
    // height: 10000px;
    margin: 0;
    padding: 0;
    background-color: black;
}

.maindesc {
    padding: 10% 15%;
    background-image: url(../data/images/desc_background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 57vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__first {
        &__title {
            color: white;
            font-weight: 300;
        }

        &__author {
            margin-top: 10px;
            color: white;
            font-weight: 600;
            //font-size: 18px;
        }
    }

    &__middle {
        color: white;
        //font-size: 18px;
    }

    &__last {
        height: 35%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &__icondesc {
            width: 15%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__img {
                //width: auto;
                height: 70%;
                margin: 0;
                padding-bottom: 20px;
            }

            &__text {
                padding-top: 20px;
                border-top: solid;
                border-color: white;
                text-align: center;
                color: white;
                font-weight: 600;
            }
        }
    }
}

.ads {
    width: 100%;
    height: 41vw;
    display: flex;

    &__store {
        width: 50%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 60px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(../data/images/store.png);
            background-size: cover;
            background-position: center;
            filter: brightness(50%);
            transition: 0.5s ease;
        }

        &__button {
            position: absolute;
            width: 100%;
            text-align: center;

            &__link {
                border-color: white;
                color: white;
            }
        }

        &:hover {
            &:before {
                filter: brightness(100%);
            }
        }
    }

    &__underground {
        width: 50%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 60px;
        background-color: white;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(../data/images/lp_underground.png);
            background-size: cover;
            background-position: center;
            filter: opacity(50%);
            transition: 0.5s ease;
        }

        &__button {
            position: absolute;
            width: 100%;
            text-align: center;

            &__link {
                border-color: black;
                color: black;
            }
        }

        &:hover {
            &:before {
                filter: opacity(100%);
            }
        }
    }
}

.video {
    background-image: url(../data/images/video_section.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 48vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
    margin: 0;

    &__title {
        color: black;
        font-weight: 600;
        text-align: center;
    }

    &__link {
        background-image: url(../data/icons/play.png);
        width: 5vw;
        height: 5vw;
        margin-top: 3vw;
        background-size: cover;
        background-position: center;
        transition: 0.3s ease;
    }

    &__link:hover {
        background-image: url(../data/icons/play_hover.png);
    }
}

.discography {
    padding: 0;
    background-image: url(../data/images/discography_section.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 44vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__shadow {
        width: 100%;
        height: 35%;
        filter: opacity(100%);
        transition: 1s ease;

        &--top {
            background-image: linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        }

        &--bottom {
            background-image: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        }
    }

    &__button {
        border-style: solid;
        padding: 15px;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        transition: 0.5s ease-in;
        color: white;
        border-color: white;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        transition: 0.5s ease-out;

        &:hover {
            border-style: none;
            color: black;
            background-color: white;
        }
    }

    &:hover {
        & .discography__shadow {
            filter: opacity(0);
        }
    }
}

$play-stop-button-size: 52px;
$change-button-size: 28px;

.discography {
    &__back {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__container {
            width: 50%;
            height: 90%;
            padding: 15px;
            background-color: rgb(5, 5, 5);
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &__cover {
                width: 100%;
                height: 85%;
                background-size: cover;
                background-position: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                text-align: center;

                &__title {
                    margin-bottom: 10px;
                }
            }

            &__reproduction {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                &__play {
                    background-image: url(../data/icons/reproduction/play.png);
                    background-size: cover;
                    width: $play-stop-button-size;
                    height: $play-stop-button-size;
                    transition: 0.3s ease;
                    margin: 0 30px;

                    &:hover {
                        background-image: url(../data/icons/reproduction/onplay.png);
                    }
                }

                &__stop {
                    background-image: url(../data/icons/reproduction/pause.png);
                    background-size: cover;
                    width: $play-stop-button-size;
                    height: $play-stop-button-size;
                    transition: 0.3s ease;
                    margin: 0 30px;

                    &:hover {
                        background-image: url(../data/icons/reproduction/onpause.png);
                    }
                }

                &__change {
                    width: $change-button-size;
                    height: $change-button-size;
                    background-size: cover;

                    &--next {
                        background-image: url(../data/icons/reproduction/next.png);
                    }

                    &--before {
                        background-image: url(../data/icons/reproduction/before.png);
                    }
                }
            }
        }
    }
}

.newsletter {
    background-image: url(../data/images/newsletter_section.png);
    width: 100%;
    height: 38vw;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;

    &__desc {
        text-align: center;

        &__title {
            font-weight: 300;
            margin-bottom: 20px;

            & span {
                font-weight: 600;
            }
        }

        &__text {
            font-weight: 300;
        }
    }

    &__form {
        width: 25%;
        height: 40%;

        &__field {
            width: 100%;
            height: 33%;
            display: flex;
            align-items: flex-end;
            padding: 3%;
            border-bottom: 2px solid;
            border-color: rgba(255, 255, 255, 0.6);
            transition: 0.5s ease;
            margin-bottom: 5%;

            &__img {
                height: 100%;
                width: auto;
                filter: opacity(60%);
                transition: 0.5s ease;
                margin-right: 20px;
                &--mail{
                    height: 70%;
                }
                
            }

            &__text {
                filter: opacity(60%);
            }

            &:hover {
                border-color: rgba(255, 255, 255, 1);

                & img {
                    filter: opacity(100%);
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 18vw;
    background-image: url(../data/images/footer_section.png);
    background-position: center;
    padding: 2% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        width: 7%;
        height: auto;
    }

    &__desc {
        color: white;
        text-align: end;

        &__icons {
            margin: 30px 0;

            &__img {
                margin-left: 20px;
            }
        }
    }
}

@media (max-width: 1800px){
    .newsletter{
        height: 45vw;
        padding: 5% 0;
    }
    body {
        font-size: 18px;
    }
    .discography__button{
        font-size: 20px;
    }
}

@media (max-width: 1500px){
    .newsletter{
        height: 45vw;
        padding: 5% 0;
    }
    body {
        font-size: 16px;
    }
    .discography__button{
        font-size: 18px;
    }
}

@media (max-width: 1200px){
    body {
        font-size: 14px;
    }
    .discography__button{
        font-size: 16px;
    }
    #button{
        padding: 13px;
    }
}

@media (max-width: 950px){
    body {
        font-size: 12px;
    }
    .discography__button{
        font-size: 16px;
    }
    .newsletter{
        height: 55vw;
    }
    .discography{
        height: 55vw;
    }
    #button{
        padding: 10px;
    }
    .video {
        height: 55vw;
        &__link{
            height: 7vw;
            width: 7vw;
            margin-top: 2vw;
        }
    }
    .footer{
        height: 25vw;
        &__logo{
            width: 9%;
        }
    }
}